SERVICE_BUCKET_POSTFIX=bucket_postfix
SERIVCE_DEBIAN_VERSION=service_version
REGRESSION_AZKABAN_DEBIAN_VERSION=azkaban_version
MESOS_AGENT_DEBIAN_VERSION=mesos_version
MESOS_AGENT_PACKAGE_VERSION=mesos_package
AZKABAN_PACKAGE_VERSION=azkaban_package
EXECUTION_ENVIRONMENT=execution_environment